@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

*{
  box-sizing: border-box;
}

body{
  background-color: black;
}

@theme {
    --color-main: oklch(25.7% 0.09 281.288);
}

@layer utilities {

   .transparent-text{    
    color: transparent;
    mix-blend-mode: difference;
  }

}